* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.input_wrapper {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(rgb(4, 58, 100), rgb(91, 172, 197));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.inputLabel {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 0.7em;
}
.input {
  width: 25vw;
  height: 5vh;
}
.inputLabel label {
  margin-bottom: 10px;
  padding-left: 5px;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
}

.form input {
  border-radius: 20px;
  outline: none;
  border-color: gold;
  padding-left: 15px;
}
.btn {
  width: 10vw;
  margin-top: 30px;
}
.btn button {
  width: inherit;
  height: 6vh;
  border-radius: 20px;
  background-color: inherit;
  color: #fff;
  text-transform: capitalize;
  outline: none;
  border-color: gold;
  border: none;
}
.btn button:hover {
  animation: splash 4s infinite;
}

@keyframes splash {
  from {
    background-color: inherit;
  }
  to {
    background-color: rgb(91, 172, 197);
  }
}

@media only screen and (max-width: 500px) {
  .form {
    display: grid;
    grid-gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inputLabel {
    flex-direction: column;
    transform: translate(0%, 90%);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .form label {
    margin-bottom: 0;
    margin-top: 2%;
    display: none;
  }
  .form .input {
    height: 7vh;
    width: 200px;
    border-radius: 0px;
    font-size: large;
  }

  .btn button {
    width: 40vw;
    border-radius: 0px;
    transform: translate(53%);
    margin: 0 0 15px 0;
    font-size: x-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}
